.form__contact {
  background-color: #25303b;
  padding: 25px;
}

.form__contact > .form-col {
  display: flex;
  justify-content: center;
}

.form__contact > .form-col > .form-col__left,
.form__contact > .form-col > .form-col__right {
  padding: 15px;
  width: 100%;
}

.form__contact > .form-col > .form-col__left > .form-row > label {
  color: #fff;
}

.form__contact > .form-col > .form-col__left > .form-row > input[type="radio"] {
  margin-right: 30px;
}
.form__contact > .form-col > .form-col__left > .form-row #other {
  margin-top: 5px;
  display: none;
}

.form__contact
  > .form-col
  > .form-col__left
  > .form-row
  > input[type="radio"]:last-child {
  margin-right: 0;
}

.form__contact > .form-col > .form-col__left > .form-row > input[type="text"],
input[type="email"] {
  width: 100%;
  background-color: transparent;
  color: #fff;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  border: 2px solid rgba(0, 150, 136, 0.9);
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  box-shadow: 0em 0em 0em 0em transparent inset;
  border-radius: 0;
}

.form__contact > .form-col > .form-col__left > .form-row:last-child {
  margin-top: 15px;
}

.form__contact > .form-col > .form-col__right > .form-row > textarea {
  height: 248px;
  width: 100%;
  padding: 12px;
  border: 2px solid rgba(0, 150, 136, 0.9);
  background-color: transparent;
  font-family: Montserrat-Light;
  font-size: 12px;
  border-radius: 0;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
}

.form__contact > .form-col > .form-col__right > .form-row > .word__counter {
  font-size: 12px;
  text-align: right;
  color: #ddd;
}

.form__contact > .form-row__button {
  display: flex;
  justify-content: center;
}

.form__contact > .form-row__button > .form-button {
  color: #fff;
  background-color: #13a38d;
  font-family: Subtract-Regular;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  font-size: 18px;
  padding: 20px 50px;
  cursor: pointer;
  margin-top: 25px;
}

.form__contact > .form-row__button > .form-button:hover {
  background-color: #1ad3b4;
}

.form__contact > .form-row__button > .form-button > .reverse__font {
  font-family: Enchance-Regular;
}
