@font-face {
  src: url("../fonts/Jaapokkienchance-Regular.otf");
  font-family: Enchance-Regular;
}
@font-face {
  src: url("../fonts/Jaapokki-Regular.otf");
  font-family: Jaapokki-Regular;
}
@font-face {
  src: url("../fonts/Jaapokkisubtract-Regular.otf");
  font-family: Subtract-Regular;
}

html,
body {
  margin: 0;
}

.ir-arriba .fa {
  padding: 20px;
  font-size: 18px;
}

.ir-arriba {
  display: none;
  background: #1de9b6;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 10000;
}

.header {
  height: 100vh;
  /* background-image: url(../images/pexels-photo-436784.jpeg); */
  background-image: url(../images/pexels-photo-326424.jpeg);
  background-size: cover;
}

.header > .header__left {
  height: 100vh;
  width: 25%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.header > .header__down {
  width: 100%;
  margin-top: -11vh;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.header > .header__down i {
  padding: 5px;
  border-radius: 100%;
  border: 5px solid antiquewhite;
  background-color: rgba(250, 235, 215, 0.5);
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.section-container {
  padding: 50px 0;
}

.about-me > .about-me__image {
  float: left;
  max-width: 50%;
}

.about-me > .about-me__info {
  float: right;
  max-width: 50%;
}

.knowledge {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.knowledge > .knowledge-item {
  max-width: 25%;
}

.knowledge-item > .knowledge__studies > .flip,
.knowledge-item > .knowledge__courses > .flip,
.knowledge-item > .knowledge__proyects > .flip {
  position: relative;
}

.knowledge-item > .knowledge__studies > .flip > .knowledge__studies-item,
.knowledge-item > .knowledge__courses > .flip > .knowledge__courses-item,
.knowledge-item > .knowledge__proyects > .flip > .knowledge__proyects-item {
  background-color: #1de9b6;
  text-align: center;
  font-size: 5em;
  margin-bottom: 2vh;
  padding: 100px 0;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 1s;
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item
  > .flip__knowledge__studies-item--back,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item
  > .flip__knowledge__courses-item--back,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item
  > .flip__knowledge__proyects-item--back {
  transform: rotateY(-180deg);
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item:hover
  > .flip__knowledge__studies-item--front,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item:hover
  > .flip__knowledge__courses-item--front,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item:hover
  > .flip__knowledge__proyects-item--front {
  transform: rotateY(-180deg);
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item:hover
  > .flip__knowledge__studies-item--back,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item:hover
  > .flip__knowledge__courses-item--back,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item:hover
  > .flip__knowledge__proyects-item--back {
  transform: rotateY(0);
}

.footer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  font-family: Jaapokki-Regular;
  padding: 5px 0;
  background-color: #333;
  color: #fff;
}
