@font-face {
  src: url("../fonts/Jaapokkienchance-Regular.otf");
  font-family: Enchance-Regular;
}
@font-face {
  src: url("../fonts/Jaapokki-Regular.otf");
  font-family: Jaapokki-Regular;
}
@font-face {
  src: url("../fonts/Jaapokkisubtract-Regular.otf");
  font-family: Subtract-Regular;
}

html,
body {
  margin: 0;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.ir-arriba {
  display: none;
  background: #1de9b6;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 10000;
}

.ir-arriba .fa {
  padding: 20px;
  font-size: 18px;
}
