@font-face {
  src: url("../fonts/Jaapokkienchance-Regular.otf");
  font-family: Enchance-Regular;
}
@font-face {
  src: url("../fonts/Jaapokki-Regular.otf");
  font-family: Jaapokki-Regular;
}
@font-face {
  src: url("../fonts/Jaapokkisubtract-Regular.otf");
  font-family: Subtract-Regular;
}

html,
body {
  margin: 0;
}

.ir-arriba .fa {
  padding: 20px;
  font-size: 18px;
}

.ir-arriba {
  display: none;
  background: #1de9b6;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 10000;
}

.header {
  height: 100vh;
  /* background-image: url(../images/pexels-photo-436784.jpeg); */
  background-image: url(../images/pexels-photo-326424.jpeg);
  background-size: cover;
}

.header > .header__left {
  height: 100vh;
  width: 25%;
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.header > .header__down {
  width: 100%;
  margin-top: -11vh;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  z-index: 10000;
  cursor: pointer;
}

.header > .header__down i {
  padding: 5px;
  border-radius: 100%;
  border: 5px solid antiquewhite;
  background-color: rgba(250, 235, 215, 0.5);
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.section-container {
  padding: 50px 0;
}

.dark-theme__section {
  background-color: #25303b;
}

.about-me > .about-me__image {
  float: left;
  max-width: 50%;
}

.about-me > .about-me__info {
  float: right;
  max-width: 50%;
}

.knowledge {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
}

.knowledge > .knowledge-item {
  max-width: 25%;
}

.knowledge-item > .knowledge__studies > .knowledge__studies-item,
.knowledge-item > .knowledge__courses > .knowledge__courses-item,
.knowledge-item > .knowledge__proyects > .knowledge__proyects-item {
  background-color: #1de9b6;
  text-align: center;
  font-size: 3em;
  margin-bottom: 2vh;
  padding: 6vh 0;
  width: 100%;
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item
  > .flip__knowledge__studies-item--back,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item
  > .flip__knowledge__courses-item--back,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item
  > .flip__knowledge__proyects-item--back {
  transform: rotateY(-180deg);
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item:hover
  > .flip__knowledge__studies-item--front,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item:hover
  > .flip__knowledge__courses-item--front,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item:hover
  > .flip__knowledge__proyects-item--front {
  transform: rotateY(-180deg);
}

.knowledge-item
  > .knowledge__studies
  > .flip
  > .knowledge__studies-item:hover
  > .flip__knowledge__studies-item--back,
.knowledge-item
  > .knowledge__courses
  > .flip
  > .knowledge__courses-item:hover
  > .flip__knowledge__courses-item--back,
.knowledge-item
  > .knowledge__proyects
  > .flip
  > .knowledge__proyects-item:hover
  > .flip__knowledge__proyects-item--back {
  transform: rotateY(0);
}

.works__timeline {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
}

.works__timeline:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Línea vertical */
}

.works__timeline > .works__timeline-item {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

.works__timeline > .works__timeline-item:after {
  content: "";
  display: block;
  clear: both;
}

.works__timeline > .works__timeline-item > .item-content {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

.works__timeline > .works__timeline-item > .item-content > .date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  font-family: Subtract-Regular;
  text-transform: uppercase;
  background-color: #25303b;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 7px #25303b;
}

.works__timeline > .works__timeline-item > .item-content > .date > .year {
  font-size: 18px;
  display: block;
  text-align: center;
}

.works__timeline > .works__timeline-item > .item-content > .date > .month {
  font-size: 10px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.works__timeline > .works__timeline-item > .item-content > h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

.works__timeline > .works__timeline-item > .item-content > h2:after {
  content: "";
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
}

.works__timeline > .works__timeline-item > .item-content > p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}

.works__timeline > .works__timeline-item:nth-child(even) > .item-content {
  float: right;
}

.works__timeline
  > .works__timeline-item:nth-child(even)
  > .item-content
  > h2:after {
  left: -5px;
}

.works__timeline > .works__timeline-item:nth-child(odd) > .item-content > h2 {
  background: #e74c3c;
}

.works__timeline
  > .works__timeline-item:nth-child(odd)
  > .item-content
  > h2:after {
  background: #e74c3c;
}

.works__timeline > .works__timeline-item:nth-child(even) > .item-content > h2 {
  background: #2ecc71;
}

.works__timeline
  > .works__timeline-item:nth-child(even)
  > .item-content
  > h2:after {
  background: #2ecc71;
}

.works__timeline
  > .works__timeline-item:nth-child(2n + 3)
  > .item-content
  > h2 {
  background: #e67e22;
}

.works__timeline
  > .works__timeline-item:nth-child(2n + 3)
  > .item-content
  > h2:after {
  background: #e67e22;
}

.footer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  font-family: Jaapokki-Regular;
  padding: 5px 0;
  background-color: #333;
  color: #fff;
}
